
html{
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
} 

a{
    color: inherit;
    text-decoration: none;
}

a:hover {  
    color: inherit;
}

p {
    margin:0;
}

html{
    width:100%;
    height:100%;
}
body {

    margin: 0;
    padding: 0;
}   

.fixe{
    background-color: #f7d1d1;
    opacity:1;
    position: fixed;
    width:100%;
    height: 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    & a{
        &:nth-of-type(2){
            cursor: help;
        }
        &:hover{
            color: #a66dd4;
        }
    }
}

.logo{

    width:100%;
}

.marmeid{
    position: absolute;
    top:1rem;
    right:15%;
    width: 70%;
}

.banniere{
    margin:0;
        & img{
            width:100%;
            margin:0;
        }
}   

.title {
        animation: title 1500ms  ease-in-out;
}

@keyframes title{
    0% {
        transform: scaleX(0);
        opacity: .1;
    }
    85%,100% {
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
    }
}
@mixin title{
    font-family: 'Parisienne', cursive;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem; 
}

h1{
    @include title;
    max-width:70%;
    margin:2.5rem auto;
    line-height: 2rem;
}

.container{
    background-image: url("img/backgroundSmall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -3rem;
    width:100%;
}

@mixin clignottement {
    animation-duration: 2000ms;
    animation-name: clignoter;
    animation-iteration-count: infinite; 
    text-shadow: rgb(24, 23, 23) 2px 2px 2px;
    font-size:1rem;
}
.asset{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    margin-bottom: 2rem;
    column-gap: 2rem;

        &__1{
            @include clignottement;
            animation-delay: 1500ms;
        } 
        &__2{
            @include clignottement;
            animation-delay: 2100ms;
        }
        &__3{
            @include clignottement;
            animation-delay: 2700ms;
        }               
}

.smallTitle{
    width:70%;
    margin:auto;
 
    text-align:center;
    font-size:0.9rem;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 15px;
    padding:0.6rem 1rem;
    box-shadow: 2px 2px 8px #694f36;
    transition: all 300ms;
    background-color: #f7d1d1;
    &:hover{
        transform: scale(1.1);

    }
}

@keyframes clignoter {
    0% {
        color: #7c5639;
        font-weight: bold;
    }
    80% {
        color:#f3a0da;
    }
    100%{
        color:#c976bb;
    }
}

@mixin firstLetter{
    font-family: 'Great Vibes', cursive;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}
.service {
    font-size: 0.8rem;
    &__1{
        font-family: 'parisienne';
        color: rgb(24, 22, 22);
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
        margin: 1.5rem 0;
        text-shadow: rgb(87, 84, 84) 2px 6px 3px;
    }
    &__2{
        display: flex;
        width:100%;
        text-align: center;
        column-gap: 1rem;
  
        & .fas{
           margin-bottom:0.5rem; 
           font-size:1rem;
        }
        & p{
            text-align: left;
          
        }
        & p::first-letter{
            @include firstLetter;
        } 
        &--store{
            padding-left:0.5rem;
        }   
        &--responsive{
            padding-right: 0.5rem;
        }
    }
    &__3{
        text-align: center;
        &--web{
            font-size: 1.4rem;
            background: linear-gradient(90deg, #000, #ff9898e0, #000);
            background-size: 85%;
            animation: animate 6s infinite ease-out;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0);
            }
        & > p {
          margin: 2rem; 
        }  
        &--alone::first-letter{
            @include firstLetter;  
        }
    }
}

@keyframes animate {
    0% {
    background-position: -600%;
    }
    100% {
    background-position: 600%;
    }
}

.offerFirstSite,
.offerSecondSite{
    display:flex;
    width:100%;
    column-gap: 0.5rem;
    margin-bottom:1.5rem;
    & table{
        background-color: #f7d1d1;
        display:flex;
        flex-direction: column;
        border: 2px solid #000;
        border-radius: 25px;      
        align-items: center;
        padding:10px;
    }
    & thead th{
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        & img{
            width: 2rem;
            height: auto;
        }
    }
    & tbody{
        font-size:0.8rem;
        background-color:#fff;
        & tr:first-child td{
            justify-content: center;
            font-weight: bold;
      }

      & tr td{
            display:flex;
            align-items: center;
            column-gap: 0.5rem;
      }

    }
    & td{
        border: 1px solid #000;
        padding:0.5rem;
    }  
}

.offerFirstSite{
    & tbody {   
        & tr:nth-last-child(1){
            & .fas{
                color: #f80000;
            }
        }
    }
}

.form {
    h3{
        margin-top: 2rem;
        text-align: center;
        font-weight: normal;
        font-size: 1.4rem;
        background: linear-gradient(90deg, #000, #ff9898e0, #000);
        background-size: 85%;
        animation: animate 6s infinite ease-out;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }

}

label{
    font-size:0.8rem;
    
}

.formContact{
 margin:auto;

        label{
            display: none;
        }
        & td{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    & input{
        cursor:pointer;
        text-align: center;
        width: 98%;
        height: 2rem;
        &:hover{ 
            font-weight: bold;
            transform:scale(1.08);    
        }           
    } 
    & textarea{
        text-align: center;
        font-size: 0.6rem;
        font-family: 'Merriweather', serif;
        &:hover{
            transform:scale(1.08); 
        }
    }
    .btn_enter{
        width: 85px;
        border-radius: 15px;
        font-weight: bold;
        margin:1rem 0 3rem 0; 
        border-color: #f7d1d1;
        &:hover{
            background-color: #f7d1d1;
            color: #000;
            transform:scale(1.15); 
        }

    }
}

.footer{
    background-color: #f7d1d1;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    margin-top:-1rem;
   
    & .copyright{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
}  
.linkFooter{
    display: flex;
    justify-content: space-around;
    column-gap: 1rem;
    padding-bottom:2rem;
    & a:hover{
        color:#c976bb;
        font-weight: bold;        
    }
}

.btnUp{
    width: 1.8rem;
    display: inline-block;  
    margin-left: 92%;
    padding-bottom:1rem;
}

//page de présentation

.cv{
    margin:2.5rem;
    text-align: justify;
    & p::first-letter{
        padding:0 0 0 20px;
        font-family: 'Parisienne', cursive;
        font-weight: bold;
        font-size: 2rem;
    }

}

.knowledge {
    & h2{
        @include title;
    }
    & p{
        text-align:center;
    }
    & img{
        width: 4rem;
    }
    & .quality{
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        margin:1rem;
        padding: 2rem 0;
        align-items: center;
        & p::first-letter{
            font-weight: bold;
            font-size:1.5rem;
            font-family: 'parisienne';
        }
        &:last-child{
            flex-wrap: wrap;
            margin-top:1rem;
        }
        
    }
}

// page des questions
.questionsUser {
    & h1{
       font-size: 1.5rem; 
       margin: 2rem;
    }
}

.frequentlyAsked{
    font-size: 0.9rem;
    & p{
        margin: 0.5rem 1rem;
    }
    & .question{
        font-style:italic;
    
        &:before{
            content:"";
            display: inline-block;
            width: 25px;
            height: 25px;
            background: url("img/question.png") no-repeat;
            background-size: 100%;
            border: 1px solid #000;
            border-radius: 50%;
            background-color: #616161;
            vertical-align: middle;
        }
    }
    & .answer{
        padding-bottom:1rem;
        &:last-child{
            padding-bottom: 3rem;
        }
    }

}

//responsive

@media all and (min-width: 650px) {
//responsive index.html
    .banniere img{
        max-height: 18rem;
        max-width: 100%;
    }

    .marmeid{
        width: 60%;
        top:2rem;
        right: 20%;;
    }

    .asset{
        justify-content: space-around;
    }

    .service{
        margin: 0 1rem;
    }
}

@media all and (min-width: 800px) {
    //responsive index.html
    .banniere img{
        object-fit: cover;
    }

    .marmeid{
        width: 35%;
        top:3rem;
        right: 30%;;
    }

    h1{
        padding-top:3rem;
    }

    .smallTitle{
        width: 45%;
        margin-bottom:2rem;
        margin: auto;
        
    }
    .asset{
        margin-bottom:4rem;
        justify-content: center;
        column-gap: 10rem;;    
    }
    .service{
        &__1{
        margin:2.5rem;
        }
        &__2{
        justify-content: center;
        &--store,
        &--security,
        &--responsive{
            max-width: 13rem;
            }
        }
        &__3 > p{
        margin: 3rem 0;
        }
    }

    .offerFirstSite,
    .offerSecondSite{     
        width:50%;
    }

    .offerService{
        display: flex;
        column-gap: 1rem; 
    }

    .btnUp{
        margin-left:94%;
     }
//responsive page de presentation
    .cv p{
        max-width:80%;
        margin: auto;
    }
    .knowledge {
        & img{
        width:8rem;
        }
        & .quality{
            font-size: 1.3rem;
            column-gap: 2rem;    
            & p::first-letter{
                
                font-size:1.9rem;
            }
        }
    }
}

@media all and (min-width: 1400px){
    .marmeid{
        width: 30%;
        top:2rem;
        right: 30%;
    }
    .asset{
        column-gap: 15rem;
    }
    .smallTitle{
        width: 30%;
    }
    .service__2{
        column-gap: 5rem;
    }
    .btnUp{
        margin-left:96%;
    }
//responsive page de presentation
    .cv p{
        max-width:70%;
    }
}

@media all and (min-width: 1800px){
    .marmeid{
        width: 24%;
        right: 40%;
    }
}