@keyframes title {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes animate {
  0% {
    background-position: -600%;
  }
  100% {
    background-position: 600%;
  }
}
html {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

p {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  border: 5px solid #ff0000;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.modalDialog > div a {
  color: #fff;
  text-decoration: underline;
}
.modalDialog > div a:hover {
  color: #123456;
}
.modalDialog > div .fas {
  color: #ff0000;
  float: left;
  padding: 10px;
  font-size: 1.2rem;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #edff47;
}

.block {
  padding: 6rem 3% 3rem 3%;
}

.block-light {
  background-color: #eceff1;
}

.block-pink {
  background: linear-gradient(#f3e5f5, #e1bee7);
}

nav #menu {
  display: flex;
  list-style-type: none;
  background-color: #e1bee7;
  font-size: 0.8rem;
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
}
nav #menu .nav-item {
  padding: 15px;
}
nav #menu .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
nav #menu .nav-item a {
  color: #303030;
  text-decoration: none;
  font-size: 1em;
}

.title {
  animation: title 1500ms ease-in-out;
}

h1 {
  font-family: "Cookie", cursive;
  text-align: center;
  font-size: 4.5rem;
  margin: 2.5rem auto;
  line-height: 3.5rem;
  background: linear-gradient(90deg, #000, #af8eb5, #000);
  background-size: 85%;
  animation: animate 6s 2 ease-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -3rem;
  width: 100%;
}

.smallTitle {
  width: 55%;
  margin: auto;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  box-shadow: 1px 1px 8px #abbcc4;
  border-radius: 15px;
  padding: 0.4rem 2rem;
  transition: all 300ms;
  background-color: #f3e5f5;
}
.smallTitle:hover {
  transform: scale(1.1);
}

.service {
  font-size: 0.9rem;
}
.service__1 {
  font-family: "cookie";
  color: #34515e;
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 0;
}
.service__2 {
  display: flex;
  width: 100%;
  column-gap: 1rem;
  text-align: center;
}
.service__2 .fas {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.9rem;
  color: #606060;
}
.service__2 p {
  text-align: left;
}
.service__2 p::first-letter {
  font-family: "cookie";
  text-transform: uppercase;
  font-size: 1.7rem;
}
.service__2--store {
  padding-left: 0.5rem;
}
.service__2--responsive {
  padding-right: 0.5rem;
}
.service__3 {
  text-align: center;
}
.service__3--web {
  font-size: 1.4rem;
  background: linear-gradient(90deg, #000, #ff9898e0, #000);
  background-size: 85%;
  animation: animate 6s infinite ease-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.service__3 > p {
  margin: 2rem;
}
.service__3--alone::first-letter {
  font-family: "cookie";
  text-transform: uppercase;
  font-size: 1.7rem;
}

.offerFirstSite,
.offerSecondSite {
  display: flex;
  column-gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.form h3 {
  font-family: "cookie";
  margin-top: -2rem;
  text-align: center;
  font-weight: normal;
  font-size: 2.2rem;
  background: linear-gradient(90deg, #000, #af8eb5, #000);
  background-size: 85%;
  animation: animate 6s 2 ease-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

label {
  font-size: 0.8rem;
  text-align: left;
}

.form-field {
  display: flex;
  padding: 12px;
  border: 1px solid rgba(48, 48, 48, 0.3);
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
  outline: none;
  font-size: 0.8em;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.form-field:focus {
  background-color: #FFFFFF;
}

.form-group {
  width: 100%;
}

.select {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 25px;
  align-items: center;
  color: white;
  font-size: 0.9rem;
}
.select-title {
  text-align: center;
  padding: 15px 0px 15px 0px;
  width: 100%;
  border-radius: 14px 14px 0px 0px;
  background-color: #283593;
}
.select-content {
  background-color: #F8F8F8;
}
.select-content .select-line {
  padding: 12px 12px 20px 12px;
  color: black;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  border-bottom: 2px solid rgba(150, 150, 150, 0.2);
}
.select-content .select-line:last-child {
  border-bottom: none;
}

.select-line-icone {
  margin-right: 8px;
  align-self: center;
}
.select-line-icone .fa-check {
  color: #4db6ac;
}
.select-line-icone .fa-times {
  color: #d32f2f;
}

.select .command {
  background-color: #757de8;
  width: 100%;
  text-align: center;
  padding: 15px 0px 15px 0px;
  border-radius: 0px 0px 15px 15px;
  cursor: pointer;
}
.select .command:hover {
  background-color: #4db6ac;
}

.btn_enter {
  width: 30%;
  margin-top: 2rem;
  font-weight: bold;
  background-color: #999ff0;
  border-radius: 8px;
  border: none;
  padding: 12px;
}
.btn_enter:hover {
  background-color: #4db6ac;
}

.footer {
  background-color: #e1bee7;
  font-size: 1.5rem;
}
.footer .copyright {
  column-gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.footer .copyright .marmeid {
  width: 10rem;
}
.footer .copyright p:nth-of-type(1) {
  display: flex;
  font-family: "cookie";
  column-gap: 0.5rem;
}
.footer .copyright p:nth-of-type(1) img {
  object-fit: contain;
}
.footer .copyright p:nth-of-type(2) {
  flex-wrap: nowrap;
  font-size: 1rem;
}

.containerPresentation {
  background-color: #eceff1;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
}

.cv {
  margin: 2.5rem;
  text-align: justify;
}
.cv .titlePresentation {
  padding-top: 4rem;
  font-size: 3rem;
}
.cv p::first-letter {
  padding: 0 0 0 20px;
  font-family: "cookie";
  font-size: 2rem;
}

.knowledge h2 {
  font-family: "cookie";
  text-align: center;
  padding-top: 2rem;
  font-size: 4rem;
  background: linear-gradient(90deg, #000, #af8eb5, #000);
  background-size: 85%;
  animation: animate 6s 2 ease-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.knowledge p {
  text-align: center;
}
.knowledge img {
  width: 4rem;
}
.knowledge .quality {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: -1rem;
  padding: 2rem 0;
  align-items: center;
}
.knowledge .quality p::first-letter {
  font-weight: bold;
  font-size: 1.5rem;
}
.knowledge .quality:last-child {
  flex-wrap: wrap;
  margin-top: 1rem;
}

.containerQuestion {
  background-color: #eceff1;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
}

.questionsUser h1 {
  font-size: 3rem;
  margin: auto;
  margin-top: 2rem;
  padding: 3rem 0;
}

.frequentlyAsked {
  font-size: 0.9rem;
}
.frequentlyAsked p {
  margin: 0.5rem 1.5rem;
}
.frequentlyAsked .question {
  font-style: italic;
}
.frequentlyAsked .question:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("img/question.png") no-repeat;
  background-size: 100%;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #616161;
  vertical-align: middle;
}
.frequentlyAsked .answer {
  padding-bottom: 1rem;
}
.frequentlyAsked .answer:last-child {
  margin-bottom: 0;
  padding-bottom: 3rem;
}

@media all and (min-width: 650px) {
  .service {
    margin: 0 1rem;
  }
}
@media all and (min-width: 850px) {
  .block-light h1 {
    font-weight: normal;
    font-size: 5rem;
    padding-bottom: 1rem;
    padding-top: 3.5rem;
  }

  .smallTitle {
    width: 45%;
    margin: auto;
    font-size: 1.4rem;
  }

  .service__1 {
    margin: 2.5rem;
    font-size: 2.1rem;
  }
  .service__2 {
    justify-content: center;
  }
  .service__2--store, .service__2--security, .service__2--responsive {
    max-width: 25rem;
    text-align: center;
    font-size: 1rem;
  }
  .service__2 .fas {
    font-size: 2.6rem;
  }
  .service__3 > p {
    margin: 3rem 0;
    font-size: 1.8rem;
  }
  .service__3 p:last-child {
    font-size: 1.4rem;
  }

  .block {
    padding: 4rem 1rem;
  }

  .block-light {
    padding-top: 2rem;
  }

  .offerFirstSite,
.offerSecondSite {
    width: 50%;
    column-gap: 1rem;
  }

  .offerService {
    display: flex;
    column-gap: 1rem;
  }

  .form h3 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }

  .btn_enter {
    margin-left: 35%;
  }

  .footer {
    font-size: 1.6rem;
  }

  .cv p {
    max-width: 80%;
    margin: auto;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .cv .titlePresentation {
    margin-top: 2rem;
  }

  .knowledge img {
    width: 8rem;
  }
  .knowledge .quality {
    font-size: 1.3rem;
    column-gap: 2rem;
  }
  .knowledge .quality p::first-letter {
    font-size: 1.9rem;
  }

  .questionsUser h1 {
    font-size: 3 rem;
    margin: 2.5rem auto;
    padding-top: 5rem;
  }

  .frequentlyAsked {
    max-width: 90%;
    margin: auto;
  }
  .frequentlyAsked p {
    margin-bottom: 1rem;
  }
}
@media all and (min-width: 1400px) {
  .smallTitle {
    width: 38%;
  }

  .service__1 {
    font-size: 2rem;
  }

  .service__2 {
    column-gap: 5rem;
  }

  .block {
    padding: 6rem;
  }

  .form h3 {
    margin-top: 0;
  }

  .cv p {
    max-width: 70%;
  }

  .frequentlyAsked {
    max-width: 80%;
    padding-bottom: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
